.button {
    background: #fa8c16;
    border-color: #fa8c16;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
}

.button:hover,
.button:focus {
    background: #ffa940;
    border-color: #ffa940;
}

.button:active {
    background: #d46b08;
    border-color: #d46b08;
}