:global(body){
    font-family: 'Montserrat', sans-serif;    
}

:global(.ant-dropdown-menu)  {
    padding: 0px 0px;
}

:global(.ant-dropdown-menu-submenu-popup ul)  {
    margin-left: -3.6px;
}

:global(.ant-dropdown-menu-submenu-popup)  {
    z-index: 1000;
}

:global(.ant-dropdown-menu.ant-dropdown-menu-sub.ant-dropdown-menu-vertical) {
    background: #4278C0;
}

:global(.ant-pagination ) {
    text-align: center;
}