.donation {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

.group {
    display: flex;
    flex-direction: row;
}

.block {
    display: flex;
    flex-direction: column; 
    margin-right: 3%;
}   

.card {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    padding: 2%;
    min-width: 460px;
    justify-content: center;
    align-items: center;
}

.buttun {    
    width: 220px;
    padding-top: 27px;
    padding-bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 20px;
}

.text {
    text-indent: 30px; 
    margin-bottom: 20px;
}

.name {
    margin-top: 20px;
    margin-bottom: 40px;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

