.donation {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.group {
    display: flex;
    flex-direction: row;
}

.block {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
    padding: 2%;
    min-width: 301px;
}

.buttun {    
    margin-top: 45%;
    padding: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-indent: 30px; 
    font-size: 18px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 15px;
    padding-top: 15px;
}

