.catalog {
    display: flex;
    flex-direction: column;    
    margin-left: 15%;
    margin-right: 15%;
}

.list {
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

:global(.ant-pagination ) {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    background: #F6F6F6;
}

.button {
    width: 100%;
    height: 46px;
}