.administrator {
    margin-left: 15%;
    margin-right: 15%;   
}

.block {
    display: flex;
    justify-content: space-between;    
    margin-bottom: 20px;
}

.text {
    margin-top: 40px;
}

.row {
    margin-top: 10px;
}

.calendar {
    width: 319px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}
