.PageFour {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-left: 2%;
    margin-right: 2%;  
    padding-top: 1%;
    padding-bottom: 3%;
}

.img {
    height: 50vh;
    width: 40vh;
    cursor: pointer;
    padding-right: 2%;  
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.text {
    text-indent: 30px; 
    font-size: 18px;
    text-align: left;
    margin: 1.5%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.button {
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 2%;
}

