.about {
    margin-left: 15%;
    margin-right: 15%;   
    margin-bottom: 40px; 
}

.iframe {
    width: 640px;
    height: 360px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.events {
    width: 640px;
    height: 360px;
    padding-left: 1%;
}

.title {
    padding-top: 3%;
}

.text {
    text-indent: 30px; 
}

.preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img {
    width: 122px;
    height: 173px;
}
