.services {
    margin-left: 15%;
    margin-right: 15%;   
}

.text {
    text-indent: 30px; 
    margin-bottom: 20px;
}

.ul {
    margin-bottom: 20px !important;
}

.indent {
    text-indent: 30px;
}
