.feedback {
    background: #fa8c16;
    font-size: 15px;    
    position: absolute;
    width: 250.72px;
    height: 57.1px;
    left: 0px;
    top: 758.96px;
    margin-left: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    transform: rotate(-90deg);
    z-index: 999;
}
