.feedback {
    background: #fa8c16;
    position: absolute;
    width: 250.72px;
    height: 57.1px;
    left: -100px;
    font-family: 'Montserrat', sans-serif;
    transform: rotate(-90deg);
    z-index: 2;
    border-color: #d46b08;
}

.feedback:hover,
.feedback:active,
.feedback:focus {
    background: #d46b08;
    border-color: #ad4e00;
}
