.footer {
    display: flex;    
    flex-direction: row;
    justify-content: space-evenly;
    background: #0A1C40;
    padding: 40px;
    color: #ffffff;
    margin-top: 40px; 
}

.blok {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.phone {
    font-size: 24px;
    font-weight: 600;
}

.icons {
    display: inline-block;
    padding-bottom: 40px;
}

.tooltip {
    color: #000000;
    font-size: 12px;
}

.map {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .footer {
        display: flex;
        justify-content: flex-start;
        padding-left: 10%;
    }
}

@media screen and (max-width: 768px) {
    .phone {
        font-size: 20px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}
