.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background: #0A1C40;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.phone {
    font-size: 24px;
    font-weight: 600;
}

.icons {
    display: inline-block;
}

.tooltip {
    color: #000000;
}