.list {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-bottom: 40px;    
    font-family: 'Montserrat', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

:global(.ant-list-item) {
    background: #F6F6F6;
}

:global(.ant-typography) {
    padding-left: 15%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 24px;
    color: #0A1C40;
    font-family: 'Montserrat', sans-serif;
}

:global(.ant-list-vertical .ant-list-item-meta-title) {
    font-size: 25px;
    color: #1B418C; 
    font-weight: 600;
}

:global(.ant-list-item-main) {
    font-size: 20px;
    color: #171717;
}

.farther {
    font-weight: 600;
    font-size: 13px;
    color: #8C605D;
}

.img {
    height: 219px;
    width: 390px;
}

:global(.ant-pagination) {
    text-align: center;
}
