.carousel {
    margin-bottom: 1%;
    line-height: 0;
}

.content {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    color: #fff;
    line-height: 300px;
    text-align: center;
    background: #1B418C;
}

.img {
    width: 100%;
    height: 100%;
}

.carouselLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    position: absolute;
    top: 18%;
    left: 0;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    width: 60px;
    height: 60px;
    background: rgba(27, 65, 140, 0.5);
}

.carouselLeft:focus,
.carouselLeft:active,
.carouselLeft:hover {
    cursor: pointer;
    background: rgba(27, 65, 140, 0.8);
}

.carouselRight {
    margin-right: 20px;
    position: absolute;
    top: 18%;
    right: 0;
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    width: 60px;
    height: 60px;
    background: rgba(27, 65, 140, 0.5);
}

.carouselRight:focus,
.carouselRight:active,
.carouselRight:hover {
    cursor: pointer;
    background: rgba(27, 65, 140, 0.8);
}