.menu {
    background: #4278C0;
    margin-top: -4px;
}

.subMenu {
    background: #4278C0;
    font-size: 16px !important;
    color: #ffffff !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.subMenu:hover {
    background-color: #7faeda !important;
}

.header { 
    display: flex;
    align-items: center;
    color: #ffffff;   
    background: #1B418C;    
    padding: 1%;
}

.blok {
    min-width: fit-content;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: fit-content;
}

.voguLogo {
    width: 61px;
    height: 59.81px;
    background: url(icons/vogy_logo.svg) no-repeat;
    transform: rotate(-0.48deg); 
}

.text {
    font-size: 24px;
    color: #ffffff; 
}

.rowButtons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-width: fit-content;
}

.catalog {
    font-size: 20px;
    color: #ffffff;
}

.buttonCatalog {    
    padding-bottom: 35px;
}

.buttonCatalog:hover,
.buttonCatalog:active,
.buttonCatalog:focus {    
    color: #ffffff;
    background: #4278C0;
    border-radius: 3px 3px 0px 0px;
}

.button {    
    font-size: 20px;
    color: #ffffff;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-width: fit-content;
}

.link {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 1667px) and (max-width: 1803px) {
    .text {
        font-size: 22px;
    }
}

@media screen and (min-width: 1625px) and (max-width: 1666px) {
    .text {
        font-size: 22px;
    }
    .icons {
        max-width: 40px;
    }
    .link {
        font-size: 24px;
    }
}

@media screen and (min-width: 1517px) and (max-width: 1624px) {
    .text {
        font-size: 20px;
    }
    .icons {
        max-width: 40px;
    }
    .link {
        font-size: 24px;
    }
    .voguLogo {
        display: none;
    }
}

@media screen and (min-width: 1240px) and (max-width: 1517px) {
    .header {
        justify-content: center;
    }
    .logo {
        max-width: 250px;
    }
    .text {
        font-size: 20px;
    }
    .icons {
        max-width: 40px;
    }
    .link {
        font-size: 24px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1240px) {
    .header {
        justify-content: center;
    }
    .logo {
        max-width: fit-content;
    }
    .text {
        font-size: 20px;
    }
    .icons {
        max-width: 40px;
    }
    .link {
        font-size: 24px;
    }
}

@media screen and (min-width: 328px) and (max-width: 768px) {
    .header {
        padding: 0%;
        justify-content: space-between;
    }
    .text {
        padding-top: 2%;
        padding-left: 10%;
        font-size: 20px;
    }
    .icons {
        padding-right: 2%;
        padding-top: 2%;
    }
    .link {
        font-size: 24px;
    }
}

@media screen and (max-width: 327px) {
    .header {
        padding: 0%;
        justify-content: space-between;
    }
    .text {
        padding-top: 2%;
        padding-left: 4%;
        font-size: 16px;
    }
    .icons {
        padding-right: 2%;
        padding-top: 2%;
    }
    .link {
        font-size: 18px;
    }
}