.Header {
    background: #ffffff; 
}

.block {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    background: #1B418C;
}

.logo {
    display: flex;
    width: 40%;
    flex-direction: row;
    align-items: center;
    padding-left: 1%;
}

.voguLogo {
    width: 49.16px;
    height: 59.81px;
    background: url(icons/vogy_logo.svg);
    transform: rotate(-0.48deg); 
}

.text {
    padding-left: 3%;
    display: flex; 
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 22px;
    color: #FFFFFF;    
    @import url ('https://fonts.googleapis.com/css2? family = Montserrat: wght @ 100 & display = swap');
}

.rowButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.button {    
    font-size: 20px;
    color: #FFFFFF;
    @import url ('https://fonts.googleapis.com/css2? family = Montserrat: wght @ 100 & display = swap');
}


.search {
    width: 23%;
    background: #1B418C;
    border-radius: 3px;
}


.ant-input.search { 
    background: red !important;
}

.ant-input {
    background-color: rgb(26, 160, 55) !important;
}

.carousel {
    margin-bottom: 1%;
    line-height: 0;
}

.content {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    color: #fff;
    line-height: 300px;
    text-align: center;
    background: #FF9806;
}

.img {
    width: 100%;
    height: 100%;
}

.ant_carousel_left {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 18%;
    left: 0;
    opacity: 0.4;
    background-color: #000 ;
    color: #fff;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
}

.ant_carousel_left:focus,
.ant_carousel_left:active,
.ant_carousel_left:hover {
    opacity: 0.8;
    cursor: pointer;
}

.ant_carousel_right {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 18%;
    right: 0;
    opacity: 0.4;
    background-color: #000 ;
    color: #fff;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
}

.ant_carousel_right:focus,
.ant_carousel_right:active,
.ant_carousel_right:hover {
    opacity: 0.8;
    cursor: pointer;
}
