.menu {
    background: #4278C0;
    margin-top: -4px;
}

.subMenu {
    background: #4278C0;
    font-size: 16px !important;
    color: #ffffff !important;
    font-family: "Montserrat", sans-serif !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.subMenu:hover {
    background-color: #7faeda !important;
}

:global(.ant-dropdown-menu.ant-dropdown-menu-sub.ant-dropdown-menu-vertical) {
    background: #4278C0;
}

.header {
    background: #ffffff; 
    font-family: 'Montserrat', sans-serif;
}

.block {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1%;
    background: #1B418C;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1%;
}

.voguLogo {
    width: 89.16px;
    height: 59.81px;
    background: url(icons/vogy_logo.svg) no-repeat;
    transform: rotate(-0.48deg); 
}

.text {
    display: flex; 
    font-size: 24px;
    color: #ffffff;   
}

.rowButtons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.catalog {
    font-size: 20px;
    color: #ffffff;
    font-style: normal;
}

.buttonCatalog {    
    padding-bottom: 40%;
}

.buttonCatalog:hover,
.buttonCatalog:active,
.buttonCatalog:focus {    
    color: #ffffff;
    background: #4278C0;
    border-radius: 3px 3px 0px 0px;
}

.button {    
    font-size: 20px;
    color: #ffffff;
}

.search {
    width: 23%;
}

.user {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.shoppin {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
} 
