.menu {
    background: #4278C0;
    margin-top: -4px;
}

.subMenu {
    background: #4278C0;
    font-size: 16px !important;
    color: #ffffff !important;
    font-family: "Montserrat", sans-serif !important;
    padding-right: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.subMenu:hover {
    background-color: #7faeda !important;
}

:global(.ant-dropdown-menu.ant-dropdown-menu-sub.ant-dropdown-menu-vertical) {
    background: #4278C0;
}
