.search {
    display: flex;
    flex-direction: column;    
    margin-left: 15%;
    margin-right: 15%;    
}

.list {
    font-family: "Montserrat", sans-serif;
}

.button {
    width: 100%;
    height: 46px;
}

